{% extends "l_logs/base.html" %}

{% block content %}

  {% if form.errors %}
    <p>
        Your username and password do not match. Please try again.
    </p>
  {% endif %}

  <form
    method="post"
    action="{% url 'users:login' %}"
  >
    {% csrf_token %}
    {{ form.as_p }}
    
    <button
      name="submit"
    >
      log in
    </button>

    <input
      type="hidden"
      name="next"
      value="{% url 'l_logs:index' %}"
    >

  </form>

{% endblock content %}