<p>
  <a href="{% url 'l_logs:index' %}">L Log</a> |

  <a href="{% url 'l_logs:topics' %}">Topics</a> |

  {% if user.is_authenticated %}
    Hello, {{ user.username }}.
    (<a href="{% url 'users:logout' %}">log out</a>)
  {% else %}
    <a href="{% url 'users:login' %}">log in</a>
  {% endif %}

</p>

{% block content %}{% endblock content %}

<hr />

<p>(c) Aleksandras Urbonas. 2018</p>.