{% extends "l_logs/base.html" %}

{% block content %}

  <p>
    Add a new topic:
  </p>

  <form
    action="{% url 'l_logs:new_topic' %}"
    method='post'
  >
    {% csrf_token %}
    {{ form.as_p }}
    <button
      name="submit"
    >
      add topic
    </button>
  </form>

{% endblock content %}