{% extends "l_logs/base.html" %}

{% block content %}

    <p>
      Topic: {{ topic }}
    </p>

    <p>
      Entries:
    </p>
    <p>
      <a
        href="{% url 'l_logs:new_entry' topic.id %}"
      >
        add new entry
      </a>

    <ul>
    {% for entry in entries %}
      <li>
        <p>
          {{ entry.date_added|date:'M d, Y H:i' }}
        </p>
        <p>
          {{ entry.text|linebreaks }}
        </p>
        <p>
          <a
            href="{% url 'l_logs:edit_entry' entry.id %}"
          >
            edit entry
          </a>
        </p>
      </li>
      <hr />
    {% empty %}
      <li>
        There are no entries for this topic yet.
      </li>
    {% endfor %}
    </ul>

    <p>
      Available records end here.
    </p>

{% endblock content %}